<ion-view title="Pijat Bayi versi 1.1" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="akupresurMandiriV1-card242">
      <div class=" item item-image">
        <img src="img/pijatbayi1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="akupresurMandiriV1-list-item-container50"></div>
      <div id="akupresurMandiriV1-markdown95" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Aplikasi Pijat Bayi versi 1.1 ini dibuat untuk membantu mempermudah dalam pelaksanaan pijat bayi karena tahapan pijat disampaikan dengan jelas. </p>
     
      Pada versi ini sudah dilengkapi dengan video di setiap tahapan pemijatan.
      <br>
      Selamat mencoba, silahkan sebarkan aplikasi ini.
      <br>
      <br>
      <b><center>SEMOGA BERMANFAAT</center></b>
      </div>
    
    </div>
  </ion-content>
</ion-view>