<ion-view title="Stimulasi Pijatan Menyilang 1" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/dada2a.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="gB21-card21">
      <div class="item item-body" id="gB21-list-item-container9">
        <div id="gB21-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Letakkan kedua telapak tangan di kedua sudut tulang iga terbawah.</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/3JcGLo0uoEI" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>