<ion-view title="Stimulasi Pijatan Kupu-kupu" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/dada1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="eXB1-card27">
      <div class="item item-body" id="eXB1-list-item-container12">
        <div id="eXB1-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">a. Letakkan kedua telapak tangan di tengah dadab. Gerakkan ke dua telapak tangan ke atas sampai  dan kembali ke tengah tanpa mengangkat</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/IhJlMnDtq10" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br>
  </ion-content>
</ion-view>