<ion-view title="Stimulasi Pijatan Menyilang 2" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/dada2b.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="bL23-card24">
      <div class="item item-body" id="bL23-list-item-container13">
        <div id="bL23-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pijat menyilang dengan  telapak tangan dari pinggang  ke arah bahu dan sebaliknya, secara bergantian kanan dan kiri.</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/aghJZE1rBP0" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>