<ion-view title="Dasar-Dasar Pijat Bayi" id="page48">
  <ion-content padding="true" class="has-header">
    <ion-list id="dasarDasarAkupresur-list47">
      <ion-item id="dasarDasarAkupresur-list-item180">Pengertian Pijat Bayi:</ion-item>
    </ion-list>
      <br>
    <!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<p><strong>1. Konsep</strong><strong> Stimulasi Pijat Baduta</strong></p>
<p><strong>a. Pengertian</strong></p>
<p>Stimulasi pijat merupakan salah satu keterampilan teknik manual yang efektif memengaruhi system saraf, kekebalan, dan hormone. Pijat yang dilakukan dengan tujuan stimulasi akan memberikan rasa nyaman, mengurangi atau mengalihkan rasa nyeri, rasa cemas dan stress serta dapat memperbaiki respon kekebalan tubuh. Stimulasi juga memengaruhi fungsi saluran cerna peyerapan makanan menjadi lebih baik dan terjadi pengningkatan berat badan. Selain itu peningkatan kadar hormone pertumbuhan akan memacu optimalnya pertumbuhan dan perkembangan otak.</p>
<p>&nbsp;</p>
<p><strong>b. Manfaat </strong></p>
<p><strong>Bagi baduta</strong></p>
<ol>
<li>Mendapatkan perhatian langsung dari orang tua, sekaligus mendapatkan stimulasi multi sensor (raba, tekan, pendengaran dan pengelihatan)</li>
<li>Mempererat ikatan / <em>bonding</em> dengan ibu /orangtua</li>
<li>Membantu relaksasi</li>
<li>Membuat tidur lebih lelap</li>
<li>Menurunkan hormon stress</li>
<li>Membantu pengaturan sistem pencernaan yang mempengaruhi peningkatan berat badan.</li>
<li>Meningkatkan daya tahan tubuh</li>
<li>Membantu mengatasi gangguan tidur</li>
<li>Membantu meredakan ketidaknyamanan (kolik, tumbuh gigi)</li>
</ol>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong><strong>Bagi orang tua dan keluarga </strong></p>
<ol>
<li>Memberikan perhatian spesial dan mempererat ikatan/bonding</li>
<li>Meningkatkan produksi ASI (frekuensi anak baduta menyusu lebih sering</li>
<li>Membantu orang tua mengetahui bahasa isyarat (non-verbal anak baduta)</li>
<li>meningkatkan kepercayaan diri orangtua</li>
<li>Rasa percaya diri dalam mengasuh&nbsp; baduta</li>
<li>Meningkatkan komunikasi antara orang tua dan baduta</li>
<li>Meningkatkan kemampuan orang tua dalam membantu baduta untuk relaksasi.</li>
<li>Meredakan stres orangtua</li>
<li>Membuat suasana yang menyenangkan</li>
</ol>
<p>&nbsp;</p>
<p><strong>c. Prinsip-prinsip </strong></p>
<ul>
<li>Dilakukan pada baduta sehat oleh orangtuanya</li>
<li>Usia anak 0-24 bulan</li>
<li>Hindari memijat anak dengan paksa</li>
<li>Hindari memijat bayi setelah makan atau disusui.</li>
<li>Hindari membangunkan bayi hanya untuk dipijat.</li>
<li>Hindari memaksakan posisi saat dipijat</li>
<li>Selalu memperhatikan respon bayi saat pemijatan</li>
</ul>
<p>&nbsp;</p>
<p><strong>d. Waktu yang tepat untuk melakukan stimulasi pijat baduta </strong></p>
<p>Stimulasi pijat dilakukan sekitar 15 menit dengan pengulangan setiap gerakan 5-10 kali. Stimulasi pijat diberikan secara rutin 3-5 kali dalam seminggu. Pada bayi aterm (cukup bulan) maupun prematur (kurang bulan) yang telah stabil, stimulasi pijat dapat dilakukan kapanpun saat orang tua ingin memulai memijat. Pemijatan sebaiknya dilakukan dengan teknik yang benar dan dalam suasana yang nyaman.</p>
<p>&nbsp;</p>
<p><strong>e. </strong><strong>Hal-hal yang perlu diperhatikan dalam melakukan stimulasi pijat baduta </strong></p>
<ul>
<li>Melakukan kontak mata dengan bayi saat pemijatan</li>
<li>Mengajak bicara atau menyanyikan lagu sambil memutar musik lembut agar lebih rileks.</li>
<li>Mulai dengan sentuhan ringan dan perlahan, tingkatkan tekanan pijatan dengan menyesuaikan kenyamanan baduta.</li>
<li>Perhatikan isyarat bayi menangis, mengantuk dan kehausan.</li>
<li>Menggunakan minyak atau lotion pada kedua tangan pemijat sebelum memijat.</li>
<li>Memandikan/seka bayi setelah pemijatan dengan air hangat.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p><strong>2. Anatomi dan Fisiologi yang Berhubungan dengan Perkembangan Sensorineural pada Tubuh Baduta</strong></p>
<p>Pijat bayi merupakan salah satu stimulasi yang mudah dilakukan oleh orangtua. Stimulasi pijat bayi meliputi stimulasi taktil, stimulasi kinestetik, stimulasi visual dan stimulasi pendengaran.</p>
<p><strong>a. Taktil </strong></p>
<p>Stimulasi taktil dari indera peraba, reseptor&nbsp; Paccini menerima rangsang tekanan, reseptor Meissner menerima rangsang sentuhan.</p>
<p>&nbsp;</p>
<img src="img/image001.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
<p>Gambar 1. Reseptor sensoris<sup>15</sup></p>
<p>&nbsp;</p>
<p>Hampir seluruh informasi sensorik yang berasal dari segmen somatik tubuh memasuki medula spinalis melalui saraf-saraf spinal pada&nbsp; radiks dorsalis. Sinyal sensoris akan dibawa melalui salah satu dari dua jaras sensorik yaitu sistema kolumna dorsalis &ndash; lemniskus medialis atau sistem anterolateral. Kedua sistem ini akan bertemu pada tingkat talamus, yang akan merangsang nukleus paraventrikuler dari hipotalamus yang menghasilkan oksitosin.</p>
<p>&nbsp;</p>
<p><strong>b. Stimulasi kinestetik</strong></p>
<p>Stimulasi kinestetik adalah salah satu bagian dari sistem sensorik. Sistem ini berfungsi untuk membantu keseimbangan dan koordinasi dari gerakan. Pergerakan sendi merupakan bagian dari sistem kinestetik. Kinestetik penting karena fungsinya untuk keseimbangan gerak. Komponen kinestetik terdiri dari reseptor yang terdapat pada sendi dan ligamen. Kita dapat mengetahui dan merasakan bagian tubuh kita melalui reseptor pada kulit, sendi dan otot. Ada 2 tipe sel saraf meliputi neuron eferen yang mengirimkan informasi dari otak ke otot dan neuron aferen yang mengirimkan informasi dari otot&nbsp; ke otak. <sup>17</sup></p>
<p>&nbsp;</p>
<img src="img/image002.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
<p>Gambar 2. Jaras sensorik<sup>16</sup></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>c. Stimulasi pendengaran </strong></p>
<p>Stimulasi pendengaran sewaktu pijat bayi antara lain dengan menirukan suara bayi, memperdengarkan musik. Serabut saraf yang dirangsang oleh sel rambut akan menuju ganglion spiralis korti yang terletak dipusat koklea. Neuron ganglion spiralis akan mengirimkan akson ke dalam nervus koklearis kemudian ke dalam sistem saraf pusat pada tingkat medula spinalis bagian atas menuju ke lobus temporalis yang merupakan&nbsp; pusat pendengaran.19 Lobus temporalis merupakan bagian penting dari sistem limbik yang berfungsi untuk mengatur emosi yaitu amigdala dan hipokampus. Hipokampus berfungsi dalam mengubah ingatan jangka pendek menjadi ingatan jangka panjang.<sup>20</sup></p>
<img src="img/image003.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
<p>Gambar 3. Sistem vestibulokoklear<sup>18</sup></p>
<p><strong>d. Rangsang visual </strong></p>
<p>Rangsang visual sebaiknya obyek yang bergerak dan permukaan di sekitarnya. Wajah manusia adalah obyek yang paling disukai untuk menarik perhatian, bentuknya, gerakannya dan suaranya. Tatapan wajah yang sangat dekat dan bersuara merupakan stimulasi visual, auditori dan taktil secara bermakna. Sinyal saraf penglihatan&nbsp; meninggalkan retina melalui nervus optikus. Serabut-serabut dari setiap traktus optikus berjalan melalui radiasi optikus menuju korteks penglihatan primer yang terletak di fisura kalkarina lobus oksipitalis.<sup>21</sup></p>
<img src="img/image004.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
<p>Gambar 4. Jaras penglihatan<sup>22</sup></p>
<p><strong>&nbsp;</strong></p>
<p><strong>3. Teknik Stimulasi Pijat Baduta</strong></p>
<p><strong>a. Persiapan Pemijatan</strong></p>
<ul>
<li>Sediakan handuk ,baju ganti, air Hangat, waslap dan sabun</li>
<li>Ruang kamar hangat dan tidak berangin</li>
<li>Menggunakan alas yang rata dan lembut</li>
<li>Persiapan pijat baduta (alat, perlengkapan, sarana dan prasarana, waktu)</li>
<li>Persiapan lingkungan (suhu, pencahayaan, kelembaban, ventilasi)</li>
</ul>
<p>&nbsp;</p>
<p><strong>b. Persiapan Diri (Fasilitator dan Orang Tua)</strong></p>
<ul>
<li>Melepas perhiasan, cincin, dan jam tangan</li>
<li>Cuci tangan, pemijat cuci tangan dengan 5 langkah cuci tangan pakai sabun yang benar:</li>
</ul>
<ol>
<li style="list-style-type: none;">
<ol>
<li>Basahi tangan seluruhya dengan air bersih mengalir;</li>
<li>Gosok sabun ke telapak tangan, punggung tangan dan sela jari-jari;</li>
<li>Bersihkan bagian bawah kuku-kuku</li>
<li>Bilas tangan dengan air bersih mengair;</li>
<li>Keringkan tangan dengan handuk/tissue atau keringkan dengan udara/dianginkan</li>
</ol>
</li>
</ol>
<ul>
<li>Kuku pendek saat pemijatan</li>
<li>Posisi pemijat senyaman mungkin.</li>
</ul>
<p>&nbsp;</p>
  </ion-content>
</ion-view>