<ion-view title="Gerakan relaksasi 1" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/kaki6a.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="cV12-card29">
      <div class="item item-body" id="cV12-list-item-container15">
        <div id="cV12-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Menyilangkan kaki 1. Pegang kedua pergelangan kaki. Silangkan ke atas sehingga mata kaki kanan bertemu mata kaki kiri bagian dalam kemudian dorong ke arah paha. Kembalikan posisi  kaki pada posisi semula 2. Pegang kedua pergelangan kaki bayi. Silang mata kaki kanan bagian dalam bertemu mata kaki kiri bagian luar  kemudian dorong ke arah paha. Kembalikan  posisi kaki pada posisi semula. Gerakan ini  dilakukan bergantian dan berulang-ulang</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/RgGD-oIdsMU" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>