<ion-view title="Stimulasi pijatan memeras" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/kaki3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="cV12-card29">
      <div class="item item-body" id="cV12-list-item-container15">
        <div id="cV12-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lakukan gerakan memutar memeras dengan lembut dari pangkal  paha ke pergelangan kaki dengan  kedua tangan</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/78a9JeN2xCg" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>