<ion-view title="Stimulasi Pijatan Rahang" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/muka3b.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="gB20-card26">
      <div class="item item-body" id="gB20-list-item-container11">
        <div id="gB20-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Akhiri stimulasi pijatan  wajah dengan membuat  lingkaran-lingkaran kecil  mulai dari daerah di kearah dagu secara lembut  menggunakan tiga jari. </p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/jbY8dfPyL9Y" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>