<ion-view title="Stimulasi Pijatan Alis" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/muka2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="eXHN5-card23">
      <div class="item item-body" id="eXHN5-list-item-container8">
        <div id="eXHN5-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pijat daerah di atas alis dari  tengah ke samping menggunakan  kedua ibu jari.</p>
        </div>
      </div>
    </div>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/DM1hj2Kr5pA" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>