<ion-view title="Bulan - Matahari 2" id="page25">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/perut2b.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="bL40-card219">
      <div class="item item-body" id="bL40-list-item-container25">
        <div id="bL40-markdown48" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lanjutkan simulasi pijatan dengan tangan kiri dengan gerakan berputar, mulai perut sebealah kanan bawah ke atas mengikuti  arah jarum jam, membentuk lingkaran penuh (gerakan matahari).</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/F-UszT1DUUo" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>