<ion-view title="Stimulasi pijatan “I LOVE YOU 1”" id="page27">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/perut3a.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="sT36-card221">
      <div class="item item-body" id="sT36-list-item-container27">
        <div id="sT36-markdown52" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pijat dengan tiga ujung jari tangan, dari perut kiri atas ke bawah seperti membentuk huruf I.</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/OTjatUN6RzM" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>