<ion-view title="Stimulasi pijatan jari-jari berjalan (seperti bermain piano)" id="page30">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/perut4.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="kI3-card224">
      <div class="item item-body" id="kI3-list-item-container30">
        <div id="kI3-markdown58" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Tekan seluruh bagian  dinding perut dengan ujung jari telunjuk, jari tengah dan jari manis, bergantian berjalan dari sebelah kanan ke kiri  untuk mengeluarkan  gelembung-gelembung udara.</p>
        </div>
      </div>
    </div>
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/4KIoKxo3evA" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br>  
  </ion-content>
</ion-view>