<ion-view title="Bulan - Matahari 1" id="page24">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/perut2a.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="gB31-card218">
      <div class="item item-body" id="gB31-list-item-container24">
        <div id="gB31-markdown46" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pijat dengan tealpak tangan kanan, mulai dari perut kanan bawah  ke  atas, menuju kearah perut kiri bawah searah jarum jam membentuk lingkaran kecil tidak penuh (gerakan  bulan).</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/wTVSthdkuno" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>