<ion-view title="Stimulasi Pijatan “I LOVE YOU 2”" id="page28">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/perut3b.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="sT40-card222">
      <div class="item item-body" id="sT40-list-item-container28">
        <div id="sT40-markdown54" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">LOVE: Pijat dengan tiga ujung jari tangan, dari kanan atas ke kiri atas perut, kemudian ke bawah membentuk huruf L terbalik.</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/zdWXJlwhlyo" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>