<ion-view title="Gerakan Relaksasi" id="page31">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/perut5.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="sP6-card225">
      <div class="item item-body" id="sP6-list-item-container31">
        <div id="sP6-markdown60" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Akhiri stimulasi pijatan perut  dengan mengangkat dan  menekuk kedua kaki hingga  bagian paha menyentuh perut,kemudian menekan perlahan  ke arah perut.</p>
        </div>
      </div>
    </div>
    
<br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/VaU1hvhDJc0" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 

  </ion-content>
</ion-view>