<ion-view title="Mengayuh" id="page23">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/perut1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="sP10-card217">
      <div class="item item-body" id="sP10-list-item-container23">
        <div id="sP10-markdown44" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Letakkan telapak tangan kanan di perut  bagian atas (bawah tulang iga dan hati). Gerakkan telapak tangan kanan dan kiri  secara bergantian seperti mengayuh</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/hSmEL3zM5cc" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br>
  </ion-content>
</ion-view>