<ion-view title="Stimulasi pijatan maju mundur" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/punggung1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="eXB1-card27">
      <div class="item item-body" id="eXB1-list-item-container12">
        <div id="eXB1-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">a. Tengkurapkan anak melintang di  depan pemijat sebelah dengan kepala di sebelah kiri dan kaki di sebelah  kanan pemijat. b. Posisi telapak tangan tegak lurus  terhadap tulang punggung anak c. Lakukan gerakan maju mundur, menggunakan telapak tangan di sepanjang punggung, dari leher sampai ke bokong.</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/KpkHN_Hrevg" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br>
  </ion-content>
</ion-view>