<ion-view title="Stimulasi pijatan memeras" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/tangan3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="hT7-card213">
      <div class="item item-body" id="hT7-list-item-container19">
        <div id="hT7-markdown36" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lakukan gerakan dengan lembut dari pangkal lengan ke  pergelangan tangan dengan kedua tangan.</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/wTwuYB1bSBA" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>