<ion-view title="Stimulasi pijatan pada jari" id="page22">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/tangan6.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="lI11-card216">
      <div class="item item-body" id="lI11-list-item-container22">
        <div id="lI11-markdown42" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pijat lembut setiap jari tangan satu  persatu menuju kearah ujung jari  dengan gerakan memutar, akhiri gerakan ini dengan tarikan lembut  pada tiap ujung jari.</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/i50Vl7j5mIQ" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br>
  </ion-content>
</ion-view>