<ion-view title="Stimulasi pijatan telapak dan  punggung tangan 2" id="page16">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/tangan4b.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="sI1-card210">
      <div class="item item-body" id="sI1-list-item-container16">
        <div id="sI1-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pijat seluruh permukaan  punggung tangan mulai dari pergelangan tangan ke arah jari-jari menggunakan kedua  ibu jari.</p>
        </div>
      </div>
    </div>
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/T_7kpPFidJw" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br>   
  </ion-content>
</ion-view>