<ion-view title="Stimulasi pijatan menggulung" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/tangan2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="cV17-card28">
      <div class="item item-body" id="cV17-list-item-container14">
        <div id="cV17-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Gunakan kedua telapak tangan  untuk membuat gerakan seperti  menggulung mulai dari pangkal  lengan menuju pergelangan  tangan.</p>
        </div>
      </div>
    </div>
   
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/1EFhw91GzMQ" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br>
  </ion-content>
</ion-view>