<ion-view title="Stimulasi pijatan memerah (seperti  memerah susu sapi)" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/tangan1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="cV12-card29">
      <div class="item item-body" id="cV12-list-item-container15">
        <div id="cV12-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">a. Tangan kanan menggenggam lengan atas tangan kiri menggenggam lengan bawah. b. Buat gerakan seperti memerah dengan menggerakkan tangan  kanan dan kiri ke bawah secara  bergantian dan berulang-ulang. c. Lakukan gerakan kebalikan dari yang atas, gerakan dilakukan dari pangkal lengan ke pangkal lengan.</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/MQUEhO7u3zY" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>