<ion-view title="Gerakan relaksasi 1" id="page32">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/tangan7a.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="lR3-card226">
      <div class="item item-body" id="lR3-list-item-container32">
        <div id="lR3-markdown62" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Tangan disilangkan 1. Pegang pergelangan tangan dan  silangkan keduanya di dada 2. Luruskan kembali kedua tangan ke samping, ulang gerakan bergantian berulang-ulang.</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/nMkXBkRzAfo" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>