<ion-view title="Gerakan relaksasi 2" id="page18">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/tangan7b.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="lU7-card212">
      <div class="item item-body" id="lU7-list-item-container18">
        <div id="lU7-markdown34" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Diagonal tangan kaki 1. Pertemukan ujung kaki kanan dan ujung tangan kiri  di atas tubuh anak sehingga  membentuk garis diagonal.  Tarik kembali kaki kanan dan  tangan kiri  ke posisi semula 2. Pertemukan ujung kaki kiri  dan ujung tangan kanan bayi  di atas tubuh bayi sehingga  membentuk garis diagonal.  Tarik kembali kaki kanan dan  tangan kiri ke posisi semula.  Lakukan gerakan ini secara bergantian dan berulang-ulang.</p>
        </div>
      </div>
    </div>
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/lJX3EkujjCE" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>