<ion-view title="Stimulasi pijatan memutar pada  telapak dan punggung tangan 2" id="page20">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/tangan5b.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="pC6-card214">
      <div class="item item-body" id="pC6-list-item-container20">
        <div id="pC6-markdown38" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pijat seluruh permukaan punggung  tangan mulai dari pergelangan  tangan menuju pangkal jari dengan  gerakan memutar menggunakan ibu  jari.</p>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/bMgdLdXz_1I" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br> 
  </ion-content>
</ion-view>