<ion-view title="Stimulasi pijatan memutar pada  telapak dan punggung tangan 1" id="page21">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/tangan5a.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="sJ6-card215">
      <div class="item item-body" id="sJ6-list-item-container21">
        <div id="sJ6-markdown40" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pijat seluruh permukaan telapak  tangan mulai dari pergelangan tangan  menuju pangkal jari dengan gerakan memutar menggunakan ibu jari </p>
        </div>
      </div>
    </div>
    <br>
    <br>
    <b>Video:</b> 
  <br>
 <div class="video-container">
            <iframe src="https://www.youtube.com/embed/b02jT-waXdg" frameborder="0" allowfullscreen></iframe>
          </div>
<br>
<br>   
  </ion-content>
</ion-view>