<ion-view title="Tentang Program" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="tentangProgram-card241">
      <div class=" item item-image">
        <img src="img/foto-papi.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="tentangProgram-list-item-container48">
        <div id="tentangProgram-markdown93" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Aplikasi Pijat Bayi versi 1.1 <br>Pemrogram: dr. Hermanto</p>

          <p style="color:#000000;">Sumber: <br> Video Pijat Baduta Kementerian Kesehatan Tahun 2021.
          <br>Modul Pijat Baduta Tahun 2021.
          <br>Gambar dan icon: https://id.theasianparent.com
        </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>