<ion-view title="Titik Penting" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="titikPenting-list4">
      <ion-item class="item-divider" id="titikPenting-list-item-divider1"> Area Muka (6)</ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item8" ui-sref="muka1()">
        <img src="img/muka1.png">
        <h2>Usapan Muka</h2>
        <p>Mengusap dengan kasih sayang  dimulai dari garis tengah wajah  ke arah telinga.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item30" ui-sref="muka2()">
        <img src="img/muka2.png">
        <h2>Stimulasi Pijat Alis</h2>
        <p>Pijat daerah di atas alis dari  tengah ke samping menggunakan  kedua ibu jari. </p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item31" ui-sref="muka3a()">
        <img src="img/muka3a.png">
        <h2>Senyuman 1</h2>
        <p>Pijat di atas mulut anak menggunakan ibu jari dari tengah   ke samping menyusuri tulang  pipi seperti senyuman anak.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item33" ui-sref="muka3b()">
        <img src="img/muka3b.png">
        <h2>Senyuman 2</h2>
        <p>Pijat di atas dagu mulai dari  tengah ke samping menuju  ke arah pipi seolah membuat  anak tersenyum. </p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item33" ui-sref="muka4()">
        <img src="img/muka4.png">
        <h2>Stimulasi pijatan sudut mata (pangkal hidung)</h2>
        <p>Pijat mulai dari kedua sudut  mata bagian dalam turun gerakan memutar perlahan  menggunakan ibu jari atau  jari telunjuk.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item33" ui-sref="muka5()">
        <img src="img/muka5.png">
        <h2>Stimulasi pijatan rahang</h2>
        <p>Akhiri stimulasi pijatan  wajah dengan membuat  lingkaran-lingkaran kecil  mulai dari daerah di kearah dagu secara lembut  menggunakan tiga jari.</p>
      </ion-item>
      <ion-item class="item-divider" id="titikPenting-list-item-divider2"> Area Dada (3)</ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item34" ui-sref="dada1()">
        <img src="img/dada1.png">
        <h2>Stimulas Pijatan Kupu-kupu</h2>
        <p>Letakkan kedua telapak tangan di tengah dada. Gerakkan ke dua telapak tangan ke atas sampai  dan kembali ke tengah tanpa mengangkat</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item35" ui-sref="dada2a()">
        <img src="img/dada2a.png">
        <h2>Stimulasi Pijatan Menyilang 1</h2>
        <p>Letakkan kedua telapak tangan di kedua sudut tulang iga terbawah.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item36" ui-sref="bL23()">
        <img src="img/dada2b.png">
        <h2>Stimulasi Pijatan Menyilang 2</h2>
        <p>Pijat menyilang dengan  telapak tangan dari pinggang  ke arah bahu dan sebaliknya, secara bergantian kanan dan kiri</p>
      </ion-item>
      <ion-item class="item-divider" id="titikPenting-list-item-divider4"> Area Perut (9)</ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item50" ui-sref="perut1()">
        <img src="img/perut1.png">
        <h2>Mengayuh</h2>
        <p>Letakkan telapak tangan kanan di perut  bagian atas (bawah tulang iga dan hati). Gerakkan telapak tangan kanan dan kiri  secara bergantian seperti mengayuh</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item51" ui-sref="perut2a()">
        <img src="img/perut2a.png">
        <h2>Bulan - Matahari 1</h2>
        <p>Pijat dengan tealpak tangan kanan, mulai dari perut kanan bawah  ke  atas, menuju kearah perut kiri bawah searah jarum jam membentuk lingkaran kecil tidak penuh (gerakan  bulan).</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item52" ui-sref="perut2b()">
        <img src="img/perut2b.png">
        <h2>Bulan - Matahari 2</h2>
        <p>Lanjutkan simulasi pijatan dengan tangan kiri dengan gerakan berputar, mulai perut sebealah kanan bawah ke atas mengikuti  arah jarum jam, membentuk lingkaran penuh (gerakan matahari).</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item53" ui-sref="perut2c()">
        <img src="img/perut2c.png">
        <h2>Bulan - Matahari 3</h2>
        <p>Lakukan gerakan bulan-matahari secara bergantian dan tidak terputus. Gerakan ini diulang beberapa kali.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item54" ui-sref="perut3a()">
        <img src="img/perut3a.png">
        <h2>Stimulasi pijatan “I LOVE YOU” 1</h2>
        <p>Pijat dengan tiga ujung jari tangan, dari perut kiri atas ke bawah seperti membentuk huruf I.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item55" ui-sref="perut3b()">
        <img src="img/perut3b.png">
        <h2>Stimulasi pijatan “I LOVE YOU” 2</h2>
        <p>LOVE: Pijat dengan tiga ujung jari tangan, dari kanan atas ke kiri atas perut, kemudian ke bawah membentuk huruf L terbalik.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item56" ui-sref="perut3c()">
        <img src="img/perut3c.png">
        <h2>Stimulasi pijatan “I LOVE YOU” 3</h2>
        <p>YOU: Pijat dengan tiga ujung jari  tangan, dari perut kanan bawah ke atas, kemudian ke perut kiri atas menuju ke bawah membentuk huruf U terbalik.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item57" ui-sref="perut4()">
        <img src="img/perut4.png">
        <h2>Stimulasi pijatan jari-jari berjalan (seperti bermain piano)</h2>
        <p>Tekan seluruh bagian  dinding perut dengan ujung jari telunjuk, jari tengah dan jari manis, bergantian berjalan dari sebelah kanan ke kiri  untuk mengeluarkan  gelembung-gelembung udara.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item58" ui-sref="perut5()">
        <img src="img/perut5.png">
        <h2>Gerakan relaksasi</h2>
        <p>Akhiri stimulasi pijatan perut  dengan mengangkat dan  menekuk kedua kaki hingga  bagian paha menyentuh perut,kemudian menekan perlahan  ke arah perut.</p>
      </ion-item>
      <ion-item class="item-divider" id="titikPenting-list-item-divider4"> Area Tangan (10)</ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item50" ui-sref="tangan1()">
        <img src="img/tangan1.png">
        <h2>Stimulasi pijatan memerah (seperti  memerah susu sapi)</h2>
        <p>Tangan kanan menggenggam lengan atas tangan kiri menggenggam lengan bawah. b. Buat gerakan seperti memerah dengan menggerakkan tangan  kanan dan kiri ke bawah secara  bergantian dan berulang-ulang. c. Lakukan gerakan kebalikan dari yang atas, gerakan dilakukan dari pangkal lengan ke pangkal lengan.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item51" ui-sref="tangan2()">
        <img src="img/tangan2.png">
        <h2>Stimulasi pijatan menggulung</h2>
        <p>Gunakan kedua telapak tangan  untuk membuat gerakan seperti  menggulung mulai dari pangkal  lengan menuju pergelangan  tangan.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item52" ui-sref="tangan3()">
        <img src="img/tangan3.png">
        <h2>Stimulasi pijatan memeras</h2>
        <p>Lakukan gerakan dengan lembut dari pangkal lengan ke  pergelangan tangan dengan kedua tangan.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item53" ui-sref="tangan4a()">
        <img src="img/tangan4a.png">
        <h2>Stimulasi pijatan telapak dan  punggung tangan 1</h2>
        <p>Pijat seluruh permukaan  telapak tangan mulai dari  pergelangan tangan ke arah  jari-jari menggunakan kedua  ibu jari.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item54" ui-sref="tangan4b()">
        <img src="img/tangan4b.png">
        <h2>Stimulasi pijatan telapak dan  punggung tangan 2</h2>
        <p>Pijat seluruh permukaan  punggung tangan mulai dari  pergelangan tangan ke arah  jari-jari menggunakan kedua  ibu jari</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item55" ui-sref="tangan5a()">
        <img src="img/tangan5a.png">
        <h2>Stimulasi pijatan memutar pada  telapak dan punggung tangan 1</h2>
        <p>Pijat seluruh permukaan telapak  tangan mulai dari pergelangan tangan  menuju pangkal jari dengan gerakan memutar menggunakan ibu jari</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item56" ui-sref="tangan5b()">
        <img src="img/tangan5b.png">
        <h2>Stimulasi pijatan memutar pada  telapak dan punggung tangan 2</h2>
        <p>Pijat seluruh permukaan punggung  tangan mulai dari pergelangan  tangan menuju pangkal jari dengan  gerakan memutar menggunakan ibu  jari.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item57" ui-sref="tangan6()">
        <img src="img/tangan6.png">
        <h2>Stimulasi pijatan pada jari</h2>
        <p>Pijat lembut setiap jari tangan satu  persatu menuju kearah ujung jari  dengan gerakan memutar, akhiri gerakan ini dengan tarikan lembut  pada tiap ujung jari.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item58" ui-sref="tangan7a()">
        <img src="img/tangan7a.png">
        <h2>Gerakan relaksasi 1</h2>
        <p>Tangan disilangkan 1. Pegang pergelangan tangan dan  silangkan keduanya di dada 2. Luruskan kembali kedua tangan ke samping, ulang gerakan bergantian berulang-ulang.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item58" ui-sref="tangan7b()">
        <img src="img/tangan7b.png">
        <h2>Gerakan relaksasi 2</h2>
        <p>Diagonal tangan kaki 1. Pertemukan ujung kaki kanan dan ujung tangan kiri  di atas tubuh anak sehingga  membentuk garis diagonal.  Tarik kembali kaki kanan dan  tangan kiri  ke posisi semula 2. Pertemukan ujung kaki kiri  dan ujung tangan kanan bayi  di atas tubuh bayi sehingga  membentuk garis diagonal.  Tarik kembali kaki kanan dan  tangan kiri ke posisi semula.  Lakukan gerakan ini secara bergantian dan berulang-ulang.</p>
      </ion-item>
      <ion-item class="item-divider" id="titikPenting-list-item-divider4"> Area Kaki (9)</ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item50" ui-sref="kaki1a()">
        <img src="img/kaki1a.png">
        <h2>Stimulasi pijatan memerah (seperti memerah susu sapi) 1</h2>
        <p>Pegang tungkai dengan tangan  kanan menggenggam tungkai atas, tangan kiri menggenggam tungkai bawah.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item51" ui-sref="kaki1b()">
        <img src="img/kaki1b.png">
        <h2>Stimulasi pijatan memerah (seperti memerah susu sapi) 2</h2>
        <p>Buat gerakan seperti memerah, dengan menggerakkan tangan  kanan dan kiri ke bawah dari  pangkal paha ke tumit secara  bergantian dan berulang-ulang.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item52" ui-sref="kaki2()">
        <img src="img/kaki2.png">
        <h2>Stimulasi pijatan menggulung.</h2>
        <p>Gunakan kedua telapak teangan untuk membuat gerakan seperti menggulung dengan lembut dari pangkal  paha ke pergelangan kaki dengan  kedua tangan.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item53" ui-sref="kaki3()">
        <img src="img/kaki3.png">
        <h2> Stimulasi pijatan memeras</h2>
        <p>Lakukan gerakan memutar memeras dengan lembut dari pangkal  paha ke pergelangan kaki dengan  kedua tangan</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item54" ui-sref="kaki4a()">
        <img src="img/kaki4a.png">
        <h2>Stimulasi pijatan telapak dan punggung kaki 1</h2>
        <p>Pijat seluruh permukaan telapak kaki mulai dari tumit ke arah  jari-jari menggunakan kedua ibu jari</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item55" ui-sref="kaki4b()">
        <img src="img/kaki4b.png">
        <h2>Stimulasi pijatan telapak dan punggung kaki 2</h2>
        <p>Pijat seluruh permukaan punggung kaki mulai dari tumit ke arah  jari-jari menggunakan kedua ibu jari</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item56" ui-sref="kaki5()">
        <img src="img/kaki5.png">
        <h2> Stimulasi pijatan pada jari</h2>
        <p>Pijat lembut setiap jari kaki satu persatu  menuju kearah ujung jari dengan gerakan memutar. akhiri gerakan ini dengan tarikan lembut pada tiap ujung jari</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item57" ui-sref="kaki6a()">
        <img src="img/kaki6a.png">
        <h2>Gerakan Rileksasi 1</h2>
        <p>Menyilangkan kaki 1. Pegang kedua pergelangan kaki. Silangkan ke atas sehingga mata kaki kanan bertemu mata kaki kiri bagian dalam kemudian dorong ke arah paha. Kembalikan posisi  kaki pada posisi semula 2. Pegang kedua pergelangan kaki bayi. Silang mata kaki kanan bagian dalam bertemu mata kaki kiri bagian luar  kemudian dorong ke arah paha. Kembalikan  posisi kaki pada posisi semula. Gerakan ini  dilakukan bergantian dan berulang-ulang</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item58" ui-sref="kaki6b()">
        <img src="img/kaki6b.png">
        <h2>Gerakan relaksasi 2</h2>
        <p>Menekuk kaki bergantian 1. Pegang pergelangan kaki kanan dalam posisi lurus, tekuk perlahan, kemudian kembalikan keposisi lurus ulang secara bergantian beberapa kali. 2. Lakukan gerakan yang sama pada kaki kiri. Ulang secara bergantian beberapa kali.</p>
      </ion-item>
      <ion-item class="item-divider" id="titikPenting-list-item-divider4"> Area Punggung (5)</ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item50" ui-sref="punggung1()">
        <img src="img/punggung1.png">
        <h2>Stimulasi pijatan maju mundur</h2>
        <p>a. Tengkurapkan anak melintang di  depan pemijat sebelah dengan kepala di sebelah kiri dan kaki di sebelah  kanan pemijat. b. Posisi telapak tangan tegak lurus  terhadap tulang punggung anak c. Lakukan gerakan maju mundur, menggunakan telapak tangan di sepanjang punggung, dari leher sampai ke bokong.</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item51" ui-sref="punggung2()">
        <img src="img/punggung2.png">
        <h2>Stimulasi pijatan meluncur</h2>
        <p>a. Posisi telapak tangan tegak lurus  terhadap tulang punggung anak b. Gerakkan telapak tangan lurus dari atas ke bawah, dari leher sampai bokong c. Gerakan dapat dilakukan dengan  telapak tangan kanan atau kiri</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item52" ui-sref="punggung3()">
        <img src="img/punggung3.png">
        <h2>Stimulasi pijatan mengayuh.</h2>
        <p>a. Letakkan telapak tangan kanan  tegak lurus terhadap tulang belakang. Gerakkan telapak tangan  kanan ke bawah dengan tekanan  lembut sampai bokong b. Ulang dengan telapak tangan kiri  secara bergantian beberapa kali</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item53" ui-sref="punggung4()">
        <img src="img/punggung4.png">
        <h2> Stimulasi pijatan melingkar</h2>
        <p>Buat gerakan melingkar kecil di  sepanjang otot punggung, mulai dari bahu sampai bokong sebelah kiri dan kanan tulang belakang, dengan menggunakan ibu jari  atau tiga jari (jari telunjuk, jari tengah dan jari manis)</p>
      </ion-item>
      <ion-item class="item-avatar" id="titikPenting-list-item54" ui-sref="punggung5()">
        <img src="img/punggung5.png">
        <h2>Stimulasi pijatan menggaruk</h2>
        <p>Akhiri stimulasi pijatan punggung  dengan membuat beberapa kali  belaian memanjang dari leher menuju bokong, dengan menggunakan kelima ujung jari tangan  kanan atau kiri</p>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>