<ion-view title="Ucapan Terima Kasih" id="page4">
  <ion-content padding="true" class="has-header">
    <p>
      Bersyukur kepada Allah Subhanallahuwata'ala yang senantiasa melimpahkan nikmat kesehatan, kesempatan dan
      iman
    <br><br>Orang tua yang sudah mengantarkanku sehingga aku mengenal dunia dan bisa
      menjadi berguna bagi orang banyak
      <br><br>Eka Jumarni Fithri, istriku yang selalu setia menemaniku dalam suka dan
      duka
      <br><br>Safirah Masturah Ekman dan Muhammad Fikriansyah Ekman, kedua anakku yang mulai tumbuh sebagai penyemangat hidupku
      <br><br>Guru-guru yang membekaliku dengan ilmu sehingga aku bisa seperti sekarang
      ini
      
      <br><br>Semua teman-teman di LKTM Palembang yang menginspirasiku membuat aplikasi ini.


        </p>
  </ion-content>
</ion-view>